Repository ut-ras/ras_site, pull requests merged in 2020-05, with the labels that each got.

#53 Region v
  _posts/2020-05-01-region5-2.md
  _posts/2020-05-01-region5.md
  resources/blog/2020-05-01-region5-2/.directory
  resources/blog/2020-05-01-region5-2/Dist_to_Enc_Ticks.png
  resources/blog/2020-05-01-region5-2/bad_power_practice.jpg
  resources/blog/2020-05-01-region5-2/gitIssue.png
  resources/blog/2020-05-01-region5-2/measuring_encoders.jpg
  resources/blog/2020-05-01-region5-2/motor_drivers.jpg
  resources/blog/2020-05-01-region5-2/planning.jpg
  resources/blog/2020-05-01-region5/.directory
  resources/blog/2020-05-01-region5/base_side_view.jpg
  resources/blog/2020-05-01-region5/base_top_view.jpg
Labels: blog-post

#55 Robotathon blog post updates
  _posts/2020-05-02-robotathon.md
  resources/blog/2020-05-02-robotathon/toc.png
Labels: blog-post

#57 Grammar changes
  _posts/2020-05-01-region5-2.md
  _posts/2020-05-01-region5.md
Labels: blog-post, duplicate

#58 Robotathon
  .gitignore
  _posts/2020-05-02-robotathon.md
  _posts/2020-05-03-robotathon.md
  _posts/2020-05-04-robotathon.md
  resources/blog/2020-05-03-robotathon/cost_breakdown.png
Labels: blog-post

#65 updated committee header, about page, region5 and robotathon about pa…
  _includes/header.html
  _posts/2020-05-04-robotathon.md
  about.html
  about/IGVC.html
  about/region5.html
  about/robomaster.html
  about/robotathon.html
Labels: update

#66 Added RoboSub blog post
  _posts/2020-05-07-robosub.md
Labels: blog-post

#68 Demobot dancebot blog post update
  _posts/2020-05-10-dancebot.md
  resources/blog/2020-05-10-dancebot/dancebot_html.png
  resources/blog/2020-05-10-dancebot/network_architecture.png
  resources/blog/2020-05-10-dancebot/software_architecture.png
Labels: blog-post
